// VARIABLES

// FONTS
$font-family: 'Roboto', sans-serif;

// BACKGROUND COLORS
$header-bg-color: rgb(40, 53, 147);
$container-bg-color: rgb(247,247,247);
$container-login-bg-color: #fff;
$container-content-bg-color: #fff;

$btn-bg-color: rgb(63, 81, 181);
$icon-login-bg-color: rgb(245, 0, 87);

// FONT COLORS
$body-color: rgb(119, 114, 114);
$header-color: #fff;
$container-color: rgb(131, 125, 125);
$gallery-color: #fff;

$links-color: rgb(63, 81, 181);
$btn-color: #fff;
$icon-login-color: #fff;
$input-login-color: rgb(92, 88, 88);
$warn-color: rgb(245, 0, 87);

// BORDER COLORS
$input-border-color: rgb(148, 148, 148);

// SCREEN WIDTH
$md: 1100px; 
$sm: 700px;
$xs: 500px;